html {
    font-family: Helvetica, Verdana, sans-serif;
}

img {
    float: left;
    margin-right: 1em;
}

section {
    border-top: 2px solid #ccc;
    margin-top: 8px;
    padding-top: 8px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}